services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: test_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Raj1234
    ports:
      - "5432:5432"

  backend:
    build: .
    command: >
      sh -c "
        echo 'Syncing dependencies with uv...'
        uv sync
        alembic -c database/config/alembic.ini upgrade head
        echo 'Starting application...'
        exec uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      "
    volumes:
      - .:/app
      - uv-cache:/root/.cache/uv
    ports:
      - '8000:8000'
    environment:
      - JWT_SECRET_KEY=${JWT_SECRET_KEY:-}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - BUCKET_NAME=${BUCKET_NAME:-}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL:-}
      - DATABASE_URL=${DATABASE_URL:-}

volumes:
  uv-cache:

